@import '../../../styles/variables';
@import '../../../styles/mixins';

.about-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    @include container-style;

    &__header {
        @include title-style;
    }

    &__presentation {
        padding: 15px 15px 0 30px;

        p {
            color: $grey-text;
        }

        @media (max-width: 1260px) {
            :nth-child(3) {
                margin-bottom: 5px;
            }
        }

        @media (max-width: 1215px) {
            padding-top: 0;
        }
    }

    &__background {
        display: flex;

        @include tablet {
            flex-direction: column;
        }
    }

    &__section {
        flex: 1;
        @include container-style;
        margin: 30px;

        @include desktop-large {
            margin: 15px;
        }
    }

    &__section-title {
        display: flex;
        align-items: center;
        gap: 15px;
        @media (max-width: 465px) {
            gap: unset;
        }
        span {
            color: $grey-text;
            font-family: $font-primary;
            font-size: 20px;
        }
    }

    &__list {
        margin: 0 20px;
    }
}
