@import '../../../styles/variables';
@import '../../../styles/mixins';

.hero {
    display: flex;
    margin: 50px 40px 30px 50px;
    background-color: $bg-primary;
    gap: 15px;
    height: 88vh;
    margin-top: 75px;

    @include desktop {
        flex-direction: column;
        height: unset;
    }

    @include tablet-small {
        margin-left: 25px;
        margin-right: 15px;
    }

    @media (max-width: 435px) {
        margin-left: 15px;
        margin-right: 5px;
    }
}
