@import '../../../styles/variables';

.section-divider {
    border: 0;
    height: 1px;
    margin: 0 20px;
    background: linear-gradient(90deg, transparent, $border-color 15%, $border-color 85%, transparent);
}
