@import '../../../styles/variables';

.skill-icon {
    width: 65px;
    height: 88px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin: 10px 20px;
    cursor: pointer;
    text-decoration: none;

    @media (max-width: 595px) {
        height: unset;
    }

    img {
        width: 65px;
        height: 65px;

        @media (max-width: 595px) {
            width: 35px;
            height: 35px;
        }

        &.postgreLogo {
            width: 63px;
            height: auto;

            @media (max-width: 595px) {
                width: 35px;
                height: 35px;
            }

            @media (max-width: 550px) {
                width: 33px;
            }
        }

        &.cssLogo {
            width: 60px;
            height: auto;

            @media (max-width: 595px) {
                width: 30px;
            }
        }

        &.javaLogo {
            width: 50px;
            height: auto;

            @media (max-width: 595px) {
                width: 32px;
            }
        }

        &.mongodbLogo {
            width: 65px;
            height: 65px;

            @media (max-width: 595px) {
                width: 35px;
                height: 35px;
            }
        }
    }

    span {
        color: $grey-text;
        font-weight: 400;
        font-family: $font-primary;
        font-size: small;
        text-align: center;
    }
}
