@import '../../../styles/variables';

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    @media (max-width: 500px) {
        padding: 0px 10px 0px 10px;
    }
    span {
        color: $grey-text;
        text-align: center;
    }
}
