@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');
@import './styles.scss';

::selection {
    background-color: #23678f9e; /* Couleur de fond lors de la sélection */
}

::-webkit-scrollbar {
    width: 10px; /* Largeur de la scrollbar verticale */
}

/* Style de la poignée de la scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #505063;
    border-radius: 10px;
}
header {
    height: 50px;
    z-index: 2;
    background-color: #373743;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    transition: top 0.3s;
    @media (max-width: 555px) {
        padding-right: 25px;
    }
    @media (max-width: 400px) {
        padding-right: 15px;
    }
    * {
        position: relative;
    }
    .rightButtons {
        display: flex;
        gap: 30px;
        padding: 10px 0px;
        @media (max-width: 555px) {
            gap: 10px;
        }
        @media (max-width: 380px) {
            gap: 5px;
        }
        @media (max-width: 360px) {
            gap: 1px;
        }
    }

    .homeButton {
        position: absolute;
        left: 15px;
        top: 8px;
        background-color: unset;
        border: unset;
        cursor: pointer;
        @media (max-width: 450px) {
            display: none;
        }
    }
}

.hidden {
    top: -60px;
}

a {
    text-decoration: none;
}

html,
body {
    background-color: #333231;
    margin: -3px;
    overflow-x: clip;
    .mainContainer {
        display: flex;
        margin: 50px 40px 30px 50px;
        background-color: #333231;
        gap: 15px;
        height: 88vh;
        margin-top: 75px;
        @media (max-width: 1290px) {
            flex-direction: column;
            height: unset;
        }
        @media (max-width: 650px) {
            margin-left: 25px;
            margin-right: 15px;
        }
        @media (max-width: 435px) {
            margin-left: 15px;
            margin-right: 5px;
        }

        .leftContainer {
            @extend .container-style;
            flex: 1;
            display: flex;
            flex-direction: column;
            .preContainer {
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                .imgContainer {
                    border-radius: 85px;
                    border: 1px solid #323030;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
                        -2px -2px 5px rgba(44, 44, 44, 0.5);
                }
            }
            .textContainer {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 5px;
                span {
                    color: #ffffffad;
                    font-size: large;
                    font-family: 'Roboto', sans-serif;
                    @media (max-width: 1410px) {
                        font-size: 17px;
                    }
                }
            }
            .contactContainer {
                flex: 2;
                margin: 0px 15px 15px 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media (max-width: 1300px) {
                    margin-top: 8px;
                }
                @media (max-width: 1290px) {
                    flex-direction: row;
                }
                .temporaryDiv {
                    @media (min-width: 680px) {
                        display: contents;
                    }
                }
                .infoContainer {
                    display: flex;
                    align-items: center;
                    :nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        :nth-child(2) {
                            color: rgba(255, 255, 255, 0.6784313725);
                        }
                    }
                }
            }
        }
        .rightContainer {
            overflow: hidden;
            flex: 3;
            @extend .container-style;
            .headerText {
                @extend .title-style;
            }
            .presentationContainer {
                padding: 15px 15px 0px 30px;
                p {
                    color: #ffffffad;
                }
                @media (max-width: 1436px) {
                    :nth-child(1) {
                        margin-top: 0px;
                    }
                }
                @media (max-width: 1260px) {
                    :nth-child(3) {
                        margin-bottom: 5px;
                    }
                }
                @media (max-width: 1215px) {
                    padding-top: 0px;
                }
            }
            .backgroundContainer {
                display: flex;
                @media (max-width: 870px) {
                    flex-direction: column;
                }
                .firstBackgroundContainer,
                .secondBackgroundContainer {
                    flex: 1;
                    @extend .container-style;
                    margin: 30px;
                    @media (max-width: 1410px) {
                        margin: 15px;
                    }
                    .titleContainer {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        span {
                            color: #ffffffad;
                            font-family: 'Roboto', sans-serif;
                            font-size: 20px;
                        }
                    }
                    .listContainer {
                        margin: 0px 20px;
                    }
                }
            }
        }
    }

    .secondContainer,
    .fourthContainer {
        margin: 30px 40px 30px 50px;
        @extend .container-style;
        flex: 1;
        @media (max-width: 650px) {
            margin-left: 25px;
            margin-right: 15px;
        }
        @media (max-width: 435px) {
            margin-left: 15px;
            margin-right: 5px;
        }
        span {
            @extend .title-style;
        }
        .firstProject,
        .thirdProject,
        .fifthProject {
            display: flex;
            justify-content: flex-start;
            padding: 15px 120px 25px 120px;

            .firstProjectContainer,
            .thirdProjectContainer,
            .fifthProjectContainer {
                margin: 0px 50px;
                img, video {
                    border-radius: 6px;
                    width: 650px;
                    height: auto;
                    @media (max-width: 800px) {
                        width: 500px;
                    }
                    @media (max-width: 650px) {
                        width: 450px;
                    }
                    @media (max-width: 535px) {
                        width: 400px;
                    }
                }
                .obisMobile {
                    border-radius: 6px;
                    @media (min-width: 730px) {
                        display: none;
                    }
                    @media (max-width: 730px) {
                        display: unset;
                        height: 485px;
                        width: auto;
                    }
                    @media (max-width: 665px) {
                        height: 435px;
                    }
                    @media (max-width: 565px) {
                        height: 380px;
                    }

                    @media (max-width: 500px) {
                        height: 330px;
                    }
                    @media (max-width: 385px) {
                        height: 290px;
                    }
                    @media (max-width: 345px) {
                        height: 250px;
                    }
                }

                .fitlogsMobile {
                    border-radius: 6px;
                    @media (min-width: 730px) {
                        display: none;
                    }
                    @media (max-width: 730px) {
                        display: unset;
                        height: 550px;
                        width: auto;
                    }
                    @media (max-width: 400px) {
                        height: 470px;
                    }
                    @media (max-width: 360px) {
                        height: 440px;
                    }
                    @media (max-width: 330px) {
                        height: 420px;
                    }
                }

                .calculatorIMG {
                    width: 250px;
                    height: auto;
                }
            }
            .firstProjectSecondContainer,
            .thirdProjectSecondContainer,
            .fifthProjectSecondContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                .firstProjectTextContainer,
                .thirdProjectTextContainer,
                .fifthProjectTextContainer {
                    padding: 15px;
                    @extend .container-style;
                    background-color: #383939;
                    p {
                        color: $grey-text;
                    }
                }
                .projectIconContainer {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
        .diviser {
            border: 1px solid #323030;
            height: 10px;
            margin: 0 20px;
            border-radius: 5px;
            background-color: #323030;
        }
        .secondProject,
        .fourthProject {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 50px 100px 50px 40px;
            gap: 50px;
            @media (max-width: 1170px) {
                flex-direction: column-reverse;
                padding-right: 40px;
            }

            .secondProjectContainer,
            .fourthProjectContainer {
                img {
                    border-radius: 6px;
                    width: 625px;
                    height: auto;
                    @media (max-width: 800px) {
                        width: 500px;
                    }
                    @media (max-width: 650px) {
                        width: 450px;
                    }
                    @media (max-width: 535px) {
                        width: 400px;
                    }
                    @media (max-width: 600px) {
                        display: none;
                    }
                }
                .dominionMobile,
                .planyMobile {
                    border-radius: 6px;
                    @media (min-width: 600px) {
                        display: none;
                    }
                    @media (max-width: 600px) {
                        display: unset;
                        height: 650px;
                        width: auto;
                    }
                    @media (max-width: 565px) {
                        height: 600px;
                    }
                    @media (max-width: 525px) {
                        height: 550px;
                    }
                    @media (max-width: 450px) {
                        height: 470px;
                    }
                }
            }
            .secondProjectSecondContainer,
            .fourthProjectFourthContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media (max-width: 1170px) {
                    align-items: center;
                }
                .secondProjectTextContainer,
                .fourthProjectTextContainer {
                    @extend .container-style;
                    background-color: #383939;
                    padding: 15px;
                    p {
                        color: $grey-text;
                    }
                }
                .projectIconContainer {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
        .firstProject {
            @media (max-width: 1000px) {
                padding: 15px 80px 25px 80px;
            }
            @media (max-width: 920px) {
                padding: 15px 40px 25px 40px;
            }
            @media (max-width: 850px) {
                padding: 15px 60px 25px 60px;
                flex-direction: column;
                align-items: center;
                gap: 25px;
            }
            @media (max-width: 850px) {
                padding: 15px 50px 25px 50px;
            }
        }
        .firstProjectSecondContainer {
            @media (max-width: 850px) {
                align-items: center;
            }
        }
        .thirdProject,
        .fifthProject {
            padding: unset;
            padding: 50px;
            @media (max-width: 1250px) {
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }
            @media (max-width: 530px) {
                padding: 25px;
            }
            @media (max-width: 435px) {
                padding: 15px;
            }
            .thirdProjectContainer,
            .fifthProjectContainer {
                img, video {
                    @media (max-width: 730px) {
                        display: none;
                    }
                }
            }
            .thirdProjectSecondContainer,
            .fifthProjectSecondContainer {
                @media (max-width: 1250px) {
                    align-items: center;
                }
            }
        }
        .fifthProject {
            @media (max-width: 1335px) {
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }
        }
    }
    .thirdContainer {
        margin: 30px 40px 30px 50px;
        @extend .container-style;
        flex: 1;
        @media (max-width: 650px) {
            margin-left: 25px;
            margin-right: 15px;
        }
        @media (max-width: 435px) {
            margin-left: 15px;
            margin-right: 5px;
        }
        .skillsTitle {
            @extend .title-style;
        }
        .skillsContainer {
            @extend .container-style;
            border-left: unset;
            margin: 30px 200px;
            display: flex;
            @media (max-width: 1030px) {
                margin: 30px 100px;
            }
            @media (max-width: 830px) {
                margin: 30px 50px;
            }
            @media (max-width: 465px) {
                margin: 30px 15px;
            }

            .skillsTitleContainer {
                display: flex;
                flex-direction: column;
                div {
                    @extend .container-style;
                    padding: 50px;
                    color: #ffffffad;
                    cursor: pointer;
                    @media (max-width: 865px) {
                        padding: 55px;
                    }
                    @media (max-width: 540px) {
                        padding: 35px;
                    }
                }
            }
            .SoftwareSkillsContainer,
            .FrontSkillsContainer,
            .BackSkillsContainer,
            .SecuritySkillsContainer {
                display: flex;
                align-items: flex-start;
                padding: 15px 15px;
                @media (max-width: 540px) {
                    max-height: 410px;
                    overflow: auto;
                    overflow-x: hidden;
                }
                .iconContainer {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    a {
                        width: 65px;
                        height: 88px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 8px;
                        margin: 10px 20px;
                        cursor: pointer;
                        @media (max-width: 595px) {
                            height: unset;
                        }
                        img {
                            width: 65px;
                            height: 65px;
                            @media (max-width: 595px) {
                                width: 35px;
                                height: 35px;
                            }
                        }
                        .postgreLogo {
                            width: 63px;
                            height: auto;
                            @media (max-width: 595px) {
                                width: 35px;
                                height: 35px;
                            }
                            @media (max-width: 550px) {
                                width: 33px;
                            }
                        }

                        .cssLogo {
                            width: 60px;
                            height: auto;
                            @media (max-width: 595px) {
                                width: 30px;
                            }
                        }
                        .javaLogo {
                            width: 50px;
                            height: auto;
                            @media (max-width: 595px) {
                                width: 32px;
                            }
                        }
                        span {
                            color: #ffffffad;
                            font-weight: 400;
                            font-family: 'Roboto', sans-serif;
                            font-size: small;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .FrontSkillsContainer {
        @media (max-width: 659px) {
            max-height: 430px;
            overflow: auto;
            overflow-x: hidden;
        }
    }
    .fourthContainer {
        .firstExperience,
        .secondExperience {
            display: flex;
            align-items: flex-end;
            gap: 30px;
            padding: 15px 120px 30px 120px;
            @media (max-width: 1375px) {
                padding-left: 80px;
                padding-right: 80px;
            }
            @media (max-width: 1275px) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @media (max-width: 1215px) {
                flex-direction: column;
                align-items: unset;
            }
            @media (max-width: 435px) {
                padding: 15px;
            }
            .textImageContainer,
            .secondTextImageContainer {
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-start;
                @media (max-width: 1215px) {
                    display: flex;
                    align-items: flex-end;
                    gap: 50px;
                    flex-direction: row;
                }
                @media (max-width: 1000px) {
                    align-items: center;
                    flex-direction: column-reverse;
                    gap: 15px;
                }
                .firstExperienceContainer,
                .secondExperienceContainer {
                    img {
                        border-radius: 6px;
                        border: 1px solid #323030;
                        width: 485px;
                        height: auto;
                        @media (max-width: 670px) {
                            width: 450px;
                        }
                        @media (max-width: 535px) {
                            width: 400px;
                        }
                        @media (max-width: 600px) {
                            display: none;
                        }
                    }
                    .projexMobile,
                    .nijiMobile {
                        border-radius: 6px;
                        @media (min-width: 600px) {
                            display: none;
                        }
                        @media (max-width: 600px) {
                            display: unset;
                            height: 500px;
                            width: auto;
                        }
                        @media (max-width: 400px) {
                            height: 450px;
                        }
                        @media (max-width: 370px) {
                            height: 350px;
                        }
                    }
                }
                .secondExperienceContainer {
                    img {
                        height: 288px;
                        width: auto;
                        @media (min-width: 600px) {
                            width: 450px;
                            height: auto;
                        }
                    }
                }
                .companyContainer {
                    span {
                        display: flex;
                        justify-content: flex-start;
                        @media (max-width: 1000px) {
                            justify-content: center;
                        }
                        @media (max-width: 560px) {
                            text-align: center;
                        }
                    }
                    .companyTitle {
                        padding: 0px;
                        font-size: xx-large;
                    }
                    .roleTitle {
                        padding: 0px;
                        font-size: medium;
                        margin-bottom: 5px;
                    }
                }
            }
            .secondTextImageContainer {
                align-items: flex-end;
                .companyContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    @media (max-width: 1215px) {
                        align-items: center;
                        text-align: center;
                    }
                }
                @media (max-width: 1215px) {
                    flex-direction: row-reverse;
                }
                @media (max-width: 1000px) {
                    align-items: center;
                    flex-direction: column-reverse;
                }
            }
            .firstExperienceExplanation,
            .secondExperienceExplanation {
                @media (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .firstExperienceText,
                .secondExperienceText {
                    @extend .container-style;
                    background-color: #383939;
                    padding: 15px;
                    p {
                        color: $grey-text;
                    }
                }
                .projectIconContainer {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    margin-top: 10px;
                }
            }
        }
        .secondExperience {
            flex-direction: row-reverse;
            @media (max-width: 1215px) {
                flex-direction: column;
                align-items: unset;
            }
        }
    }

    .fifthContainer {
        margin: 30px 40px 30px 50px;
        @extend .container-style;
        flex: 1;
        padding-bottom: 15px;
        @media (max-width: 650px) {
            margin-left: 25px;
            margin-right: 15px;
        }
        @media (max-width: 435px) {
            margin-left: 15px;
            margin-right: 5px;
        }
        .contactTitle {
            @extend .title-style;
            padding-bottom: 0px;
        }
        .preContactContainer {
            @media (max-width: 700px) {
                display: flex;
                justify-content: center;
                padding: 15px 0px;
            }
            .contactContainer {
                display: flex;
                justify-content: center;
                gap: 30px;
                @media (max-width: 700px) {
                    flex-direction: column;
                    gap: unset;
                }
                .emailContainer,
                .phoneContainer {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .endText {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        span {
            color: $grey-text;
            text-align: center;
        }
    }
}
