@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');
@import './styles/variables';

* {
    box-sizing: border-box;
}

::selection {
    background-color: $selection-bg;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 10px;
}

html,
body {
    background-color: $bg-primary;
    overflow-x: clip;
    margin: -3px;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-body {
    flex: 1;
}

a {
    text-decoration: none;
}
