@import '../../../styles/variables';
@import '../../../styles/mixins';

.projects {
    margin: $spacing-lg 40px $spacing-lg $spacing-xl;
    @include container-style;
    flex: 1;
    padding: 15px;
    @include tablet-small {
        margin-left: 25px;
        margin-right: 15px;
    }

    @media (max-width: 435px) {
        margin-left: 15px;
        margin-right: 5px;
    }
}
