@import '../../../styles/variables';
@import '../../../styles/mixins';

.project-card {
    display: flex;
    gap: 50px;

    @media (max-width: 1270px) {
        align-items: center;
    }

    &--left {
        justify-content: flex-start;
        padding: 50px 40px 50px 100px;

        @media (max-width: 1270px) {
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }

        .project-card__content {
            @media (max-width: 1270px) {
                align-items: center;
            }
        }

        @media (max-width: 1000px) {
            padding: 50px 80px;
        }

        @media (max-width: 920px) {
            padding: 50px 40px;
        }

        @media (max-width: 530px) {
            padding: 25px;
        }

        @media (max-width: 435px) {
            padding: 15px;
        }
    }

    &--right {
        flex-direction: row-reverse;
        align-items: center;
        padding: 50px 100px 50px 40px;

        @media (max-width: 1270px) {
            flex-direction: column;
            padding-right: 40px;
        }

        .project-card__content {
            @media (max-width: 1270px) {
                align-items: center;
            }
        }
    }

    &__media {
        img,
        video {
            border-radius: $radius-md;
            width: 650px;
            height: auto;

            @media (max-width: 800px) {
                width: 500px;
            }

            @include tablet-small {
                width: 450px;
            }

            @media (max-width: 535px) {
                width: 400px;
            }
        }

        .project-card__image {
            @media (max-width: 730px) {
                display: none;
            }

            @media (max-width: 600px) {
                display: none;
            }

            &.calculator-img {
                width: 250px;
            }
        }

        .project-card__image-mobile {
            @media (min-width: 730px) {
                display: none;
            }

            @media (min-width: 600px) {
                display: none;
            }

            @media (max-width: 730px) {
                display: unset;
            }

            @media (max-width: 600px) {
                display: unset;
                height: 650px;
                width: auto;
            }

            @media (max-width: 565px) {
                height: 600px;
            }

            @media (max-width: 525px) {
                height: 550px;
            }

            @media (max-width: 450px) {
                height: 470px;
            }

            &.obis-mobile {
                @media (max-width: 730px) {
                    height: 485px;
                }

                @media (max-width: 665px) {
                    height: 435px;
                }

                @media (max-width: 565px) {
                    height: 380px;
                }

                @media (max-width: 500px) {
                    height: 330px;
                }

                @media (max-width: 385px) {
                    height: 290px;
                }

                @media (max-width: 345px) {
                    height: 250px;
                }
            }
        }

        .project-card__video-desktop {
            @media (max-width: 730px) {
                display: none;
            }
        }

        .project-card__video-mobile {
            border-radius: $radius-md;

            @media (min-width: 730px) {
                display: none;
            }

            @media (max-width: 730px) {
                display: unset;
                height: 550px;
                width: auto;
            }

            @media (max-width: 400px) {
                height: 470px;
            }

            @media (max-width: 360px) {
                height: 440px;
            }

            @media (max-width: 330px) {
                height: 420px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    &__description {
        padding: 15px;
        @include container-style;
        background-color: $bg-tertiary;

        p {
            color: $grey-text;
            margin-bottom: 7px;
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    }
}
